asgiref==3.7.2
asttokens==2.4.0
attrs==23.1.0
autobahn==23.6.2
Automat==22.10.0
backcall==0.2.0
certifi==2023.7.22
cffi==1.16.0
channels==4.0.0
channels-redis==4.1.0
constantly==15.1.0
cryptography==41.0.4
daphne==4.0.0
decorator==5.1.1
Django==4.2.6
djangorestframework==3.14.0
executing==2.0.0
h11==0.14.0
hyperlink==21.0.0
idna==3.4
incremental==22.10.0
ipython==8.16.1
jedi==0.19.1
matplotlib-inline==0.1.6
msgpack==1.0.7
outcome==1.2.0
parso==0.8.3
pexpect==4.8.0
pickleshare==0.7.5
powerline-status==2.7
prompt-toolkit==3.0.39
ptyprocess==0.7.0
pure-eval==0.2.2
pyasn1==0.5.0
pyasn1-modules==0.3.0
pycparser==2.21
Pygments==2.16.1
pyOpenSSL==23.2.0
PySocks==1.7.1
pytz==2023.3.post1
redis==5.0.1
selenium==4.13.0
service-identity==23.1.0
six==1.16.0
sniffio==1.3.0
sortedcontainers==2.4.0
sqlparse==0.4.4
stack-data==0.6.3
traitlets==5.11.2
trio==0.22.2
trio-websocket==0.11.1
Twisted==23.8.0
txaio==23.1.1
typing_extensions==4.8.0
urllib3==2.0.6
wcwidth==0.2.8
wsproto==1.2.0
zope.interface==6.1
